flows (1).json
[{"id":"4b7dde1e.6220f","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"fedfd37d.1d06b","type":"watson-text-to-speech","z":"4b7dde1e.6220f","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/mp3","password":"","apikey":"MMVDKZdT9xYQKbwFeSHmEWYLcDwBZUFturfiB6IcV4z0","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/3f15cc40-107a-41f4-bd58-f6bd7f3a88e4","x":400,"y":100,"wires":[["ce7f6dc.e8dd29","b7b3f970.8bec58"]]},{"id":"1a5a38ee.ae7e27","type":"inject","z":"4b7dde1e.6220f","name":"","topic":"","payload":"hi good morning","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["10c34fdc.3817"]]},{"id":"3b7c26c3.52a2ca","type":"watson-speech-to-text","z":"4b7dde1e.6220f","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"jPh4eRtgQSzB3zwLey9crrmPALlg_5si9sIYqEPGzpzG","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/85eef52a-017d-4521-87c2-06bd0ebf82ef","x":340,"y":340,"wires":[["5fc8a54e.2c664c","54244f06.42764"]]},{"id":"4b191602.b1a9c8","type":"microphone","z":"4b7dde1e.6220f","name":"","x":130,"y":340,"wires":[["3b7c26c3.52a2ca"]]},{"id":"5fc8a54e.2c664c","type":"debug","z":"4b7dde1e.6220f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","x":590,"y":340,"wires":[]},{"id":"54244f06.42764","type":"function","z":"4b7dde1e.6220f","name":"","func":"msg.payload=msg.transcription\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":240,"wires":[["10c34fdc.3817"]]},{"id":"10c34fdc.3817","type":"watson-assistant-v2","z":"4b7dde1e.6220f","name":"","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d914b609-5302-4173-8376-eec616e99f8f","assistant_id":"f464c096-684c-4a7e-9de2-d8d8a5748a16","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":370,"y":220,"wires":[["ca06fff9.f65d3"]]},{"id":"3bfa1a04.ec2706","type":"debug","z":"4b7dde1e.6220f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":240,"wires":[]},{"id":"ce7f6dc.e8dd29","type":"debug","z":"4b7dde1e.6220f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":140,"wires":[]},{"id":"ca06fff9.f65d3","type":"function","z":"4b7dde1e.6220f","name":"","func":"msg.payload=msg.payload[\"output\"][\"generic\"][0][\"text\"]\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["fedfd37d.1d06b","3bfa1a04.ec2706"]]},{"id":"b7b3f970.8bec58","type":"play audio","z":"4b7dde1e.6220f","name":"","voice":"0","x":640,"y":40,"wires":[]}]